
.summary-dox-img-1{
    background-color: white;
   margin: 5px 0px 0px 5px;
}
.summary-dox-img-2{
    background-color: white;
   margin: 5px 0px 0px 5px;
}
.summary-dox-img-3{
    background-color: white;
   margin: 5px 0px 0px 5px;
}
.summary-dox-img-4{
    background-color: white;
   margin: 5px 0px 0px 5px;
}